.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionRoot {
  background-color: white;
  width: 80vw;
}

.AccordionItem {
  border: 5px solid #fecaca;
}

.AccordionTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.AccordionContent {
  border-top: 3px dashed lightgrey;
  padding: 10px;
  text-align: center;
}
